{% extends 'layouts/base.html' %}
{% block content %}

<div class="row main">
    <h2>Create Ques</h2>
</div>
<div class="row alert alert-danger" role="alert">
    A simple danger alert—check it out!
</div>
<div class="row mb-1 mt-2">
    <div class="col-2">
        <label class="form-label mt-4">Title</label>
    </div>
    <div class="col-6">
        <input type="text" class="input-base" maxlength="70">
    </div>
</div>
<div class="row mb-1 mt-2">
    <div class="col-2">
        <label for="exampleFormControlTextarea1" class="form-label mt-4">Text of Ques</label>
    </div>
    <div class="col-10">
        <textarea class="textarea-base" id="exampleFormControlTextarea1" rows="5" ></textarea>
    </div>
</div>
<div class="row mb-1 mt-2">
    <div class="col-2">
            <label class="form-label mt-4">Tags</label>
    </div>
    <div class="col-6">
        <input type="text" class="input-base" maxlength="70">
    </div>
</div>
<div class="row col-2">
    <button class="btn">Answer</button>
</div>

{% endblock %}