{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row main">
    <h2>{{ question.title }}</h2>
</div>
{% include 'components/question-item.html' %}
<div class="row mt-4">
    <h4>Answers:</h4>
</div>
{% for answer in answers %}
        {% include 'components/answer-item.html' %}
{% endfor %}
{% include 'components/pagination.html' %}
<div class="row answer">
    <div class="col-8 mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter your answer here..."></textarea>
    </div>
</div>
<div class="row col-2">
        <button class="btn" style="">Answer</button>
</div>
{% endblock %}