{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row main">
                <h2>Settings</h2>
            </div>
<div class="row">
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
</div>
<div class="row">
    <div class="margin20">
        <span>Login</span>
        <input type="text" class="form-control margin10" maxlength="20" placeholder="Login">
    </div>
</div>
<div class="row">
    <div class="margin20">
        <span>Email</span>
        <input type="email" class="form-control margin10" maxlength="20" placeholder="Email">
    </div>
</div>
<div class="row">
    <div class="margin20">
        <span>Nickname</span>
        <input type="text" class="form-control margin10" maxlength="20" placeholder="Nickname">
    </div>
</div>
<div class="row">
    <div class="margin20">
        <img class="settings-ava" src="{% static 'img/ava.png' %}">
    </div>
</div>
<div class="row">
    <div class="margin20">
        <form action="/upload" method="post" enctype="multipart/form-data" class="signup-form">
            <input type="file" name="image" id="image" class="signup-fileinput" val>
        </form>
    </div>
</div>
<div class="row">
    <button class="btn">Save</button>
</div>
{% endblock %}