{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <div class="row">
        <div class="col-2">
            <h2>Questions</h2>
        </div>
        <div class="col-3">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Newest</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'hot' %}">Hot</a>
              </li>
            </ul>
        </div>
        <div class="col-3">
            <button class="btn create"><a href="{% url 'ask' %}">Create ques</a></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <span>By Tag: </span><button class="btn">Python</button>
    </div>
</div>
{% for question in questions %}
{% include 'components/short-question-item.html' %}
{% endfor %}
{% include 'components/pagination.html' %}
{% endblock %}